$JV:#ffc600;
$RV:#ff0000;
$BF:#051440;
$BG:#E5E5E5;
$GAXD:#707070;
$RODM:#731914;
$RP:#8B0000;
$NNAC:#181818;
$VG:#6b6c66;
$TDF:#81613C;
$VO:#5E6456;
$coyote:#9F8670;
$BFW:#091226;
$RF:#EC1920;
$GW:#F7F7FF;
$GS:#0A0B0A;
$RPV:#B22222;
$NG:#3E5349;
